{% extends 'post/base.html' %}

{% block content %}

<div class="container">
    {% for post in posts  %}
        <div class="panel panel-default post-item">

            <a href="{% url 'post:post-detail' pk=post.pk %}">
                <img src="https://i.ytimg.com/vi_webp/{{ post.youtube_id }}/maxresdefault.webp" alt="" class="post-image">
        {#        <div><img src="{% if post.img_thumbnail %}{{ post.img_thumbnail.url }}{% endif %}" alt=""></div>#}
                <div class="post-content">
                    <div>[{{ post.category }}] {{ post.title }}</div>
                    <div>{{ post.author }}</div><br>
                    <div>{{ post.content }}</div>
                </div>
            </a>

            <div class="panel-body">
                <div class="inline">
                    <ul class="comment-list">
                        {% for comment in post.comment_set.all %}
                            <li class="comment">
                                <span class="comment-author">{{ comment.author }}</span>
                                <span class="comment-content">{{ comment.content }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
