{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    {% for post in posts  %}
        <div>[{{ post.author }}] {{ post.title }} by {{ post.author }}</div>
        <div>{{ post.content }}</div>
        <div>{{ post.youtube_link }}</div>
        <div><img src="{{ post.img_thumbnail.url }}" alt=""></div>
    {% endfor %}

</body>
</html>